@import "../../styles/vars.scss";

.wrapper {
  gap: 6px;
  display: flex;
  flex-direction: row;
  &__li {
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    padding: 6px 12px;
    font-family: Inter;
    text-align: center;
    border-radius: 4px;
    background-color: #ccc;
    border: 1px solid #ccc;
    &__active {
      width: 100%;
      color: #ccc;
      cursor: pointer;
      font-weight: 500;
      padding: 6px 12px;
      font-family: Inter;
      text-align: center;
      border-radius: 4px;
      border: 1px solid $primary-color;
      background-color: $primary-color;
    }
  }
}
