@import "../../styles/vars.scss";

.wrapper {
  width: 250px;
  height: 350px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  transition: 2000ms all;
  padding: $padding $padding;
  -webkit-transition: 2000ms all;
  background-color: $primary-color;
  @extend %flex-center-center-column;
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  -o-object-fit: cover;
}

.primaryText {
  color: $primary-color;
  @extend %base-font-size;
  text-transform: capitalize;
}

.secondaryText {
  color: $secondary-text-color;
  @extend %base-font-size;
}
