@import "../styles/vars.scss";

.wrapper {
  gap:50px;
  width: 100%;
  padding: 50px;
  @extend %flex-center-center-column;
  &__firstSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
  }
}

.pokemonsList {
  width: 100%;
  display: grid;
  grid-gap: 50px;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
